BasedOnStyle: LLVM

ColumnLimit: 160
IndentWidth: 4
UseTab: Never

ReflowComments: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '^<.*>$'
      Priority: 1
    - Regex: '^".*"$'
      Priority: 2

AlignConsecutiveMacros: true
AlignEscapedNewlines: Left

IndentCaseLabels: false
PointerAlignment: Right

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakStringLiterals: false
BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
