AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: None
BreakStringLiterals: false
BreakBeforeBraces: Allman
ColumnLimit: 0
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '^<.*>$'
      Priority: 1
    - Regex: '^".*"$'
      Priority: 2
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Right
ReflowComments:  true
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
